@model GrapheneTrace.Models.Admin.CreateUserViewModel
@{
    ViewData["Title"] = "Create User";
}

<h2>@ViewData["Title"]</h2>
<h4>Create a new account and assign a role.</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="CreateUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="SelectedRole" asp-items="@Model.Roles" class="form-control">
                    <option value="">Select a Role</option>
                </select>
                <label asp-for="SelectedRole"></label>
                <span asp-validation-for="SelectedRole" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Create User</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}